@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
body, html {
  font-family: "Roboto", sans-serif;
}

.body {
  display: flex;
  width: 100% !important;
}

a {
  text-decoration: none;
}

.linear {
  width: 40%;
  min-height: 350px;
  background-image: linear-gradient(to right, #7a3d95, #463890);
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
.linear img {
  width: 120px;
  height: 100px;
}
.linear h1 {
  color: #a99ac7;
  font-size: 40px;
  line-height: 52px;
}
.linear .fafa {
  height: 100px;
  width: 20%;
  margin-top: 10px;
  padding-right: 20px;
}
.linear .fafa i {
  margin-bottom: 60px;
  color: white;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  justify-content: center;
}
.linear h2 {
  color: #a99ac7;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 60px;
  margin-left: -5px;
  margin-top: 10px;
}

.aside {
  width: 60%;
  min-height: 650px;
  background-color: rgb(246, 250, 253);
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside .bottom {
  display: none;
}
.aside .center {
  width: 90%;
  text-align: center;
}
.aside .center2 {
  color: #a99ac7;
}
.aside h1 {
  font-size: 32px;
  text-align: center;
  color: #393842;
}
.aside p {
  font-size: 24px;
  color: #393842;
}
.aside ul li {
  list-style: none;
}
.aside ul li button {
  background-color: #157575;
  color: white;
  width: 320px;
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: start;
}
.aside ul li button .bott {
  font-size: 20px;
  margin-left: 10px;
}
.aside ul li button span {
  margin-left: 100px;
}
.aside ul li .small p {
  font-size: 12px;
}
.aside ul li .div {
  height: 30px;
  width: 40px;
  border: 3px solid red;
}
.aside button {
  color: #2d8384;
  background-color: transparent;
  border: none;
  font-size: 15px;
}
.aside a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #736fb7;
  font-size: 15px;
}
.aside .div {
  width: 150px;
  height: 30px;
  border-bottom: 1px solid #d3d3d9;
  margin: auto;
}

.chat {
  width: 50px;
  height: 50px;
  background-color: #4b46a9;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  color: white;
  bottom: 20px;
  right: 20px;
  box-shadow: 0px, 0px, 5px black;
}

footer {
  background-color: #211f47;
  max-height: 130px;
  width: 100% !important;
}
footer h4 {
  text-align: center;
  font-size: 15px;
  padding-top: 15px;
}
footer img {
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 1200px) {
  footer {
    height: 200px;
  }
  footer img {
    width: 1000px;
  }

  .body {
    height: 900px;
  }
  .body .linear .display {
    max-height: 150px;
    width: 110%;
  }
}
@media (max-width: 990px) {
  .body {
    display: block;
  }

  .linear {
    width: 100% !important;
    height: 10px !important;
    padding-left: 40px;
    background-image: linear-gradient(to right, #7a3d95, #463890);
  }

  .bottom-2 {
    display: none;
  }

  .aside {
    width: 100%;
    min-height: 50px;
    justify-content: center;
    align-items: flex-start;
    padding-top: 70px;
  }
  .aside .bottom {
    background-color: rgb(246, 250, 253);
    width: 100%;
    margin-top: 40px;
  }
  .aside .bottom h1 {
    color: #4b46a9;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    width: 80%;
    margin: auto;
  }
  .aside .bottom .center2 {
    font-size: 1px;
  }
  .aside .bottom .fafa {
    height: 100px;
    width: 20%;
    margin-top: 40px;
  }
  .aside .bottom .fafa i {
    margin-bottom: 60px;
    color: #4b46a9;
    width: 50px;
    height: 50px;
    border: 1px solid #4b46a9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aside .bottom .text {
    height: 100px;
    width: 100%;
    margin-top: 50px;
    margin-left: -50px;
    text-align: left;
  }
  .aside .bottom .text h2 {
    color: #a99ac7;
    font-size: 29px;
    line-height: 32px;
    margin-top: 40px;
  }
  .aside .bottom .hide {
    margin-bottom: 300px;
  }
  .aside .center {
    width: 90%;
    text-align: center;
  }
  .aside h1 {
    font-size: 32px;
    text-align: center;
    color: #463890;
  }
  .aside p {
    font-size: 24px;
    color: #393842;
  }
  .aside small {
    font-size: 15px;
    display: block;
  }
  .aside .bottom {
    display: inherit;
  }

  .footer {
    display: none;
  }
}

/*# sourceMappingURL=login.css.map */
