@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
body,
html {
  font-family: "Roboto", sans-serif !important;
  background-color: #fdfafd !important;
}

header {
  height: 79px;
  align-items: center;
  justify-content: space-around;
  position: fixed !important;
  top: 0px !important;
  z-index: 55 !important;
}
header img {
  align-items: center;
  height: 100px;
}
header .collapse {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header ul {
  margin-top: 10px;
  align-items: center;
  justify-content: space-around;
}
header ul li {
  list-style: none;
  margin-right: 50px;
  font-weight: 700;
  font-size: 16px;
  color: #4b4b6e;
}
header ul li .nav-link:hover {
  padding: 10px;
  background-color: #d8e2f5;
  color: #145deb;
  border-radius: 5px;
}
header ul li .products {
  min-height: 100px;
  width: 650px;
  justify-content: space-around;
}
header ul li .products .product {
  line-height: 30px;
  width: 50%;
  height: fit-content;
}
header ul li .products .product img {
  width: 25px;
  height: 25px;
  margin-top: 7px;
}
header ul li .products .product b {
  color: #4b4b6e;
  display: block;
}
header ul li .products .product p {
  font-size: 15px;
  color: #4b4b6e;
}
header ul li .products .platform {
  width: 50%;
  line-height: 30px;
}
header ul li .products .platform b {
  color: #4b4b6e;
  display: block;
}
header ul li .products .platform p {
  font-size: 15px;
  color: #4b4b6e;
}
header ul li .resources {
  min-height: 80px;
  width: 550px;
  justify-content: space-around;
}
header ul li .resources b {
  color: #4b4b6e;
  display: block;
}
header ul li .company {
  width: 300px;
  min-height: 80px;
  display: block;
  align-items: flex-start;
  margin-bottom: 20px;
}
header ul li .company div {
  margin-top: 20px;
}
header ul li .company div a {
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  color: #3c3c62;
}
header ul li .company div a b {
  color: white;
  padding: 5px 10px;
  background-color: purple;
  border-radius: 20px;
  margin-left: 10px;
}
header .login a {
  text-decoration: none;
  margin-left: 20px;
}
header .login .log {
  font-weight: 700;
  font-size: 17px;
  color: #3c3c62;
}
header .log:hover {
  color: #5489f0;
}
header .book {
  padding: 10px 30px 10px 30px;
  background-color: #e7eefd;
  font-weight: 700;
  font-size: 16px;
  color: #145deb;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
}
header .book:hover {
  color: #1e1eb4;
}
header .sign {
  background-color: #145deb;
  font-weight: 700;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
}
header .sign:hover {
  background-color: #063dad;
  color: white;
}

.chat {
  width: 50px;
  height: 50px;
  background-color: #4b46a9;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 55;
  color: white;
  bottom: 20px;
  right: 20px;
  box-shadow: 0px, 0px, 5px black;
}

.section {
  margin-top: 80px;
  min-height: 40px;
  background-color: #111135;
}
.section .side-1 {
  margin-top: 90px;
  min-height: 100px;
  width: 50% !important;
  padding-left: 40px;
}
.section .side-1 a {
  text-decoration: none;
  color: white;
}
.section .side-1 .div {
  text-align: center;
  border: 2px solid purple;
  min-width: 10px;
  min-height: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 35px;
  color: white;
}
.section .side-1 h1 {
  color: #c87ceb;
  font-size: 55px;
  font-family: "poppins";
  line-height: 70px;
  font-weight: 700;
  margin-top: 30px;
}
.section .side-1 p {
  width: 500px;
  font-size: 16px;
  line-height: 24px;
}
.section .side-1 h5 {
  color: #e555ac;
  font-size: 14px;
  letter-spacing: 2px;
}
.section .side-1 .ancors {
  color: white;
  margin-bottom: 25px;
}
.section .side-1 .ancors .scan {
  padding: 10px 15px;
  background-color: #145deb;
  border: none;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
}
.section .side-1 .ancors .demo {
  border: none;
  font-size: 18px;
  font-weight: 600;
}
.section .side-2 {
  min-height: 600px;
  width: 50%;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}
.section .side-2 .sparkles {
  width: 150px;
  height: 150px;
  margin-bottom: -100px;
  margin-top: 50px;
  margin-left: 70%;
}
.section .side-2 video {
  position: absolute;
  right: 0px;
  left: 90px;
  top: 20px;
}

.patch {
  position: relative;
  margin-bottom: 190px;
}
.patch .section-btom .patch-alert {
  width: 500px;
  height: 400px;
  position: absolute;
  z-index: 33;
  left: 28%;
  top: -180px;
}

.section-img {
  margin-top: 50px;
  align-content: center;
}
.section-img h2 {
  font-size: 18px;
  color: #21214c;
  font-weight: 700;
  width: 100%;
  letter-spacing: 2px;
  text-align: center;
}
.section-img .logo-bar {
  width: 95%;
  margin-top: 30px;
}
.section-img .logo-bar ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.section-img .logo-bar ul li {
  list-style: none;
  margin-left: 30px;
  margin-top: 40px;
}
.section-img .logo-bar ul li img {
  width: 70px;
}

.section-middle {
  margin-top: 50px;
  margin-bottom: 100px;
}
.section-middle h1 {
  color: #21214c;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  line-height: 48px;
  width: 80% !important;
  font-family: "poppins";
  margin-top: 100px;
}
.section-middle .what-is {
  text-decoration: none;
  text-align: center;
  color: #145deb;
  font-weight: 600;
  font-family: "poppins";
  width: 20%;
  margin: auto;
}
.section-middle a:hover {
  padding: 10px;
  background-color: #e7eefd;
  text-decoration: none;
}
.section-middle .outside-box {
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.section-middle .box {
  width: 30%;
  text-align: center;
}
.section-middle .box h3 {
  font-size: 24px;
  font-weight: 600;
  color: #21214c;
  font-family: "Roboto";
}
.section-middle .box p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #6d6d9c;
}

.sec-mid {
  width: 100% !important;
  justify-content: space-around;
  padding: 50px;
}
.sec-mid .text {
  width: 45%;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec-mid .text h1 {
  color: #21214c;
  font-size: 50px;
  font-weight: bolder;
  text-align: left;
  line-height: 48px;
  margin-bottom: 50px;
}
.sec-mid .php-java {
  width: 45%;
  height: 500px;
}
.sec-mid .php-java .java {
  width: 550px;
  height: 550px;
}

.sec-mid-middle .svg-img {
  width: 50% !important;
  padding: 0px !important;
}
.sec-mid-middle .svg-img .illustrated {
  width: 550px;
  height: 550px;
}
.sec-mid-middle .s-text {
  padding-right: 20px;
  width: 50% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.sec-mid-middle .s-text h1 {
  color: #21214c;
  font-size: 45px;
  font-weight: 700;
  text-align: left;
  line-height: 48px;
  font-family: "poppins";
}
.sec-mid-middle .s-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #21214c;
  margin-bottom: 40px;
  margin-top: 40px;
}
.sec-mid-middle .s-text a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #0a26b8;
  text-align: left;
}
.sec-mid-middle .s-text a:hover {
  padding: 10px;
  background-color: #7b91fd;
  border-radius: 5px;
  text-decoration: none;
  color: #145deb;
}

.big-box {
  margin-bottom: 200px;
}
.big-box h2 {
  color: #21214c;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
  font-family: "poppins";
  width: 70%;
  margin: auto;
}
.big-box .purple-box {
  max-width: 1200px;
  min-height: 900px;
  background-color: #37365e;
  margin: auto;
  border-radius: 15px;
  margin-top: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-box .purple-box .dash {
  top: 270px;
  left: 200px;
  position: absolute;
}
.big-box .purple-box .center-text {
  width: 50%;
  min-height: 300px;
  text-align: center;
  margin-top: -200px;
}
.big-box .purple-box .center-text h1 {
  color: white;
  font-size: 40px;
  width: 100%;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
  padding-bottom: 20px;
}
.big-box .purple-box .center-text p {
  width: 90%;
  margin: auto;
  font-size: 18px;
  color: white;
  font-weight: 400;
  line-height: 28px;
}
.big-box .purple-box .star-top {
  position: absolute;
  right: 20px;
  width: 200px;
  height: 200px;
  top: 50px;
}
.big-box .purple-box .star-bottom {
  position: absolute;
  left: 40px;
  width: 200px;
  height: 200px;
  bottom: 10px;
}
.big-box .purple-box .box-top {
  min-width: 40px;
  height: 300px;
  background-color: #21214c;
  border-radius: 20px;
  position: absolute;
  top: -50px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-box .purple-box .box-top .top-text {
  width: 70%;
  align-items: center;
}
.big-box .purple-box .box-top .top-text .top-1-p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}
.big-box .purple-box .box-bottom {
  width: 500px;
  height: 300px;
  background-color: #21214c;
  border-radius: 20px;
  position: absolute;
  bottom: -50px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-box .purple-box .box-bottom .top-text {
  width: 70%;
  align-items: center;
}
.big-box .purple-box .box-bottom .top-text .top-1-p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.loved {
  margin-bottom: 200px;
  width: 100% !important;
}
.loved h2 {
  color: #21214c;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
  font-family: "poppins";
  width: 70%;
  margin: auto;
}
.loved .what-is {
  text-decoration: none;
  text-align: center;
  color: #145deb;
  font-weight: 600;
  font-family: "poppins";
}
.loved a:hover {
  padding: 10px;
  background-color: #e7eefd;
  text-decoration: none;
}
.loved .reddit {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0px 30px;
}
.loved .reddit .panther {
  width: 30% !important;
  padding: 20px;
  min-height: 500px;
  background-color: white;
  box-shadow: 0px 0px 3px rgb(190, 185, 185);
  align-items: center;
  min-height: 200px;
  border-radius: 20px;
}
.loved .reddit .panther .feel {
  color: #21214c;
  font-size: 20px;
  line-height: 28px;
  margin-top: 10px;
  font-weight: 500;
}
.loved .reddit .panther .koch {
  font-weight: 600;
  font-family: "Roboto";
  color: #555463;
  font-size: 16px;
  margin-top: 70px;
}
.loved .reddit .panther .engineer {
  font-size: 16px;
  color: #555463;
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 50px;
}

.last-sec-top .last-text {
  width: 50%;
  padding-left: 40px;
  align-items: center;
  justify-content: center;
}
.last-sec-top .last-text h2 {
  color: #21214c;
  font-size: 45px;
  font-weight: 700;
  text-align: left;
  line-height: 48px;
  font-family: "poppins";
}
.last-sec-top .last-text p {
  color: #6d6d9c;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  font-family: "poppins";
  margin-top: 30px;
}
.last-sec-top .git {
  min-height: 70px;
  min-width: 10px;
  background-color: #145deb;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  margin-right: 10px;
  letter-spacing: 2px;
}
.last-sec-top .sstro {
  color: #6d6d9c;
  font-size: 12px;
  line-height: 24px;
  width: 95%;
}

.last-section {
  justify-content: space-around;
  align-items: center;
}
.last-section .last {
  width: 43%;
}

footer {
  min-width: 100%;
  min-height: 100vh;
  background-color: #21214c;
  margin-top: 100px;
}
footer .footer-brand .links-box {
  margin-left: -149px;
}
footer .footer-brand .sign-up {
  margin-left: 80px;
  padding: 15px;
  background-color: #145deb;
  font-family: 700;
  font-family: "poppins";
  color: white;
  border-radius: 5px;
}
footer .menu-col {
  width: 165px;
}
footer ul li {
  list-style: none;
  color: white;
  text-align: left;
  margin-left: -30px;
  line-height: 20px;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-weight: 500;
}
footer .soc-top {
  margin-bottom: -10px;
}
footer .soc li {
  list-style: none;
}
footer .soc li i {
  color: white;
  font-size: 30px;
  padding: 0px 30px;
}
footer .limited {
  font-family: "Roboto";
  font-weight: 500;
}

@media (max-width: 1199px) {
  .navbar-collapse {
    min-height: 500px !important;
    margin-top: -30px;
    align-items: flex-start !important;
    flex-direction: column;
    background-color: white;
  }
  .navbar-collapse ul {
    flex-direction: column;
  }
  .navbar-collapse ul li {
    margin-bottom: 50px;
    font-size: 20px;
  }
  .navbar-collapse .patch .section-btom .patch-alert {
    width: 450px;
    height: 350px;
    position: absolute;
    z-index: 33;
    left: 30%;
    top: -180px;
  }
  .navbar-collapse .login {
    width: 100%;
    flex-direction: column-reverse;
  }
  .navbar-collapse .login div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -250px !important;
  }
  .navbar-collapse .login .log {
    margin-top: 40px;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 1180px) {
  .section .side-1 {
    margin-top: 90px;
    min-height: 100px;
    width: 50% !important;
  }
  .section .side-2 {
    max-height: 700px;
  }
  .section .side-2 .sparkles {
    margin-left: 65%;
  }
  .section .side-2 video {
    width: 550px !important;
    position: absolute;
    top: -50px;
  }

  .sec-mid .text {
    width: 50% !important;
    margin-top: 30px;
  }
  .sec-mid .text h1 {
    color: #21214c;
    font-size: 38px;
    text-align: center;
    padding: 5px;
    width: 100% !important;
  }
  .sec-mid .text p {
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    padding: 10px;
    line-height: 28px;
    color: #21214c;
    text-align: center;
    margin-bottom: 50px;
  }
  .sec-mid .php-java .java {
    width: 500px !important;
    height: 500px !important;
  }

  .section-middle {
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .section-middle .center-text {
    width: 100% !important;
  }
  .section-middle h1 {
    font-size: 38px;
    text-align: center;
    line-height: 48px;
    width: 90%;
  }

  .sec-mid-middle .svg-img .illustrated {
    width: 500px;
    height: 500px;
  }

  .purple-box .dash {
    display: none;
  }

  .last-sec-top {
    margin-bottom: 80px;
    padding: 10px;
  }
  .last-sec-top .last-text {
    width: 50%;
    padding-left: 40px;
    align-items: center;
    justify-content: center;
  }
  .last-sec-top .last-text h2 {
    color: #21214c;
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    line-height: 48px;
    font-family: "poppins";
  }
  .last-sec-top .last-text p {
    color: #6d6d9c;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    font-family: "poppins";
    margin-top: 30px;
  }
  .last-sec-top .link-gg {
    display: flex;
    flex-wrap: wrap;
  }
  .last-sec-top .link-gg a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .last-sec-top .sstro {
    color: #6d6d9c;
    font-size: 12px;
    line-height: 24px;
    width: 95%;
  }
  .last-sec-top .padd {
    width: 450px !important;
    height: 450px;
  }
}
@media (max-width: 1020px) {
  .sec-mid-middle .svg-img .illustrated {
    width: 450px;
    height: 450px;
  }
  .sec-mid-middle .s-text {
    text-align: center;
  }
  .sec-mid-middle .s-text h1 {
    font-size: 34px;
    text-align: center;
  }

  .sec-mid .php-java .java {
    width: 450px !important;
    height: 450px !important;
  }
}
@media (max-width: 915px) {
  .section {
    flex-direction: column;
  }
  .section .side-1 {
    padding-top: 90px;
    min-height: 100px;
    width: 90% !important;
    text-align: center;
    margin: auto;
    padding-left: 1px;
  }
  .section .side-1 h1 {
    color: #c87ceb;
    font-size: 70px !important;
    width: 100% !important;
    font-family: "poppins";
    line-height: 80px;
    font-weight: 700;
    margin-top: 30px;
  }
  .section .side-1 p {
    width: 500px;
    font-size: 16px;
    line-height: 24px;
    margin: auto;
    margin-bottom: 30px;
    width: 80% !important;
    text-align: center;
  }
  .section .side-2 {
    width: 100% !important;
  }
  .section .side-2 video {
    position: absolute;
    right: -100px;
    left: 100px;
    top: 0px;
    width: 600px !important;
  }

  .patch {
    position: relative;
    margin-bottom: 190px;
    width: 100% !important;
  }
  .patch .section-btom .patch-alert {
    width: 350px;
    height: 250px;
    position: absolute;
    z-index: 33;
    left: 500px;
    top: -180px;
  }

  .loved .reddit .panther {
    margin-bottom: 20px;
  }
  .loved .reddit .panther .img {
    width: 160px !important;
    height: 120px;
  }

  .sec-mid-middle {
    margin-bottom: 50px;
  }
  .sec-mid-middle .s-text p {
    margin-bottom: -20px;
  }
  .sec-mid-middle .svg-img .illustrated {
    width: 400px;
    height: 400px;
  }

  .sec-mid {
    padding: 20px;
  }
  .sec-mid .php-java {
    padding-left: -20px !important;
  }
  .sec-mid .php-java .java {
    width: 380px !important;
    height: 380px !important;
  }
}
@media (max-width: 789px) {
  .section {
    flex-direction: column;
  }
  .section .side-1 {
    padding-top: 90px;
    min-height: 100px;
    width: 95% !important;
    text-align: center;
    margin: auto;
    padding-left: 1px;
  }
  .section .side-1 h1 {
    font-size: 48px !important;
    width: 100% !important;
    font-family: "poppins";
    line-height: 64px !important;
  }
  .section .side-2 video {
    position: absolute;
    right: -100px;
    left: 50px;
    top: 0px;
    width: 550px !important;
  }

  .patch {
    position: relative;
    margin-bottom: 190px;
    width: 100% !important;
  }
  .patch .section-btom .patch-alert {
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: 33;
    left: 400px;
    top: -180px;
  }

  .section-middle {
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .section-middle .center-text {
    width: 100% !important;
  }
  .section-middle h1 {
    font-size: 38px;
    text-align: center;
    line-height: 48px;
    width: 70%;
  }
  .section-middle .section-btom .patch-alert {
    width: 300px;
    height: 200px;
    margin-top: -300px;
    margin-left: 50%;
  }

  .purple-box {
    position: relative;
  }
  .purple-box .dash {
    display: none;
  }
  .purple-box .box-bottom {
    width: 350px !important;
  }
  .purple-box .box-top {
    width: 350px !important;
  }

  .sec-mid .php-java .java {
    width: 350px !important;
    height: 350px !important;
  }

  .sec-mid-middle .svg-img .illustrated {
    width: 350px;
    height: 350px;
  }

  .last-sec-top {
    flex-direction: column;
    width: 95% !important;
  }
  .last-sec-top .last-text {
    width: 100% !important;
  }
  .last-sec-top .last-text h2 {
    font-size: 30px;
  }
  .last-sec-top .last-text .git {
    height: 70px;
    width: 200px !important;
    text-decoration: none;
    padding: 10px 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
  }
  .last-sec-top .img-tag {
    width: 100% !important;
  }
  .last-sec-top .img-tag .padd {
    width: 450px !important;
    height: 450px;
  }

  .loved {
    margin-bottom: 200px;
    width: 100% !important;
  }
  .loved .reddit {
    flex-direction: column;
  }
  .loved .reddit .panther {
    width: 100% !important;
  }

  .star-bottom, .star-top, .dash {
    display: none;
  }

  .center-text {
    width: 100% !important;
    min-height: 20px !important;
    padding: 20px;
    text-align: center;
    margin-top: -250px;
  }
  .center-text h1 {
    font-size: 32px;
  }

  .sec-mid-middle .p-2 {
    width: 350px;
  }
  .sec-mid-middle .s-text {
    text-align: center;
    width: 65% !important;
    margin-top: -70px;
  }
  .sec-mid-middle .s-text h1 {
    font-size: 32px;
    text-align: center;
  }
}
@media (max-width: 733px) {
  .sec-mid-middle .svg-img .illustrated {
    width: 300px;
    height: 300px;
  }

  .sec-mid {
    flex-direction: column;
  }
  .sec-mid .text {
    margin-top: -59px !important;
    width: 100% !important;
    padding: 20px !important;
  }
  .sec-mid .php-java {
    width: 100% !important;
    padding: 0px;
    margin-top: -50px !important;
  }
  .sec-mid .php-java .java {
    padding-left: 30px;
    width: 550px !important;
    height: 550px !important;
  }
}
@media (max-width: 674px) {
  .products {
    min-height: 350px !important;
    width: 450px;
    justify-content: space-around;
    position: relative;
    overflow-y: scroll;
    margin-left: -50px;
  }
  .products .dropdown-item {
    flex-direction: column;
    position: absolute;
  }

  .sec-mid-middle {
    flex-direction: column;
  }
  .sec-mid-middle .svg-img {
    width: 100% !important;
    padding: 0px;
  }
  .sec-mid-middle .svg-img .illustrated {
    width: 550px;
    padding-left: 40px;
    height: 350px;
    margin-top: -50px;
  }
  .sec-mid-middle .s-text {
    width: 100% !important;
    padding: 10px;
    margin-top: 50px !important;
  }

  .patch {
    position: relative;
    margin-bottom: 190px;
    width: 100% !important;
  }
  .patch .section-btom .patch-alert {
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: 33;
    left: 300px;
    top: -180px;
  }

  .section .side-2 {
    margin-top: -30px;
  }
  .section .side-2 video {
    position: absolute;
    right: -100px;
    left: 50px;
    top: -20px;
    width: 500px !important;
  }
}
@media (max-width: 588px) {
  .patch {
    position: relative;
    margin-bottom: 190px;
    width: 100% !important;
  }
  .patch .section-btom .patch-alert {
    width: 250px;
    height: 200px;
    position: absolute;
    z-index: 33;
    left: 300px;
    top: -180px;
  }

  .section .side-2 {
    margin-top: -30px;
  }
  .section .side-2 video {
    position: absolute;
    right: -100px;
    left: 50px;
    top: -20px;
    width: 500px !important;
  }

  .sec-mid .php-java .java {
    margin-left: -20px;
  }
}
@media (max-width: 540px) {
  .patch {
    position: relative;
    margin-bottom: 190px;
    width: 100% !important;
  }
  .patch .section-btom .patch-alert {
    width: 230px;
    height: 200px;
    position: absolute;
    z-index: 33;
    left: 250px;
    top: -180px;
  }

  .section .side-2 {
    margin-top: -30px;
  }
  .section .side-2 video {
    position: absolute;
    right: -100px;
    left: 30px;
    top: -20px;
    width: 450px !important;
  }

  .sec-mid-middle .svg-img {
    padding: 0px;
  }
  .sec-mid-middle .svg-img .illustrated {
    margin-left: -30px !important;
  }

  .sec-mid .php-java .java {
    width: 460px !important;
    height: 460px !important;
  }

  .outside-box {
    flex-direction: column;
  }
  .outside-box .box {
    width: 80%;
  }

  .section {
    flex-direction: column;
  }

  .sparkles {
    margin-left: 55% !important;
  }

  video {
    position: absolute;
    right: 0px;
    left: 17px !important;
    top: -70px !important;
    width: 90%;
  }

  .loved h2 {
    font-size: 32px;
  }
}
@media (max-width: 500px) {
  .patch {
    position: relative;
    margin-bottom: 190px;
    width: 100% !important;
  }
  .patch .section-btom .patch-alert {
    width: 230px;
    height: 200px;
    position: absolute;
    z-index: 33;
    left: 250px;
    top: -180px;
  }

  .section .side-2 {
    margin-top: -30px;
  }
  .section .side-2 video {
    position: absolute;
    right: -100px;
    left: 20px;
    top: -20px;
    width: 430px !important;
  }

  footer .footer-brand {
    flex-direction: column;
  }
  footer .footer-brand .links-box {
    margin-top: 30px;
    margin-left: 10px;
  }
  footer .footer-brand .links-box .sign-up {
    margin-left: 0px;
  }

  .sec-mid-middle .svg-img {
    padding: 0px;
  }
  .sec-mid-middle .svg-img .illustrated {
    width: 400px !important;
    padding-left: 80px;
  }

  .sec-mid .php-java .java {
    width: 420px !important;
    height: 400px !important;
    padding-left: 50px;
  }
}
@media (max-width: 450px) {
  .resources {
    min-height: 250px !important;
    width: 250px !important;
    justify-content: space-around;
    position: relative;
    overflow-y: scroll;
    margin-left: -50px;
  }
  .resources .dropdown-item {
    flex-direction: column;
    position: absolute;
  }

  .patch .section-btom .patch-alert {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 33;
    left: 250px;
    top: -180px;
  }

  .section .side-2 {
    margin-top: -30px;
  }
  .section .side-2 video {
    position: absolute;
    right: -100px;
    left: 20px;
    top: -20px;
    width: 400px !important;
  }

  .box-top {
    min-width: 300px;
    height: 300px;
    left: 10px;
  }
}
@media (max-width: 428px) {
  .section .side-2 {
    margin-top: -10px;
    max-height: 700px;
    margin-bottom: -150px;
  }
  .section .side-2 .sparkles {
    margin-left: 50% !important;
  }

  .section .side-2 {
    margin-top: -30px;
  }
  .section .side-2 video {
    position: absolute;
    right: -100px;
    left: 20px;
    top: -150px;
    width: 350px !important;
  }

  .patch .section-btom .patch-alert {
    width: 160px;
    height: 160px;
    position: absolute;
    z-index: 33;
    left: 250px !important;
    top: -130px;
  }

  .sec-mid .php-java {
    width: 100%;
    margin-bottom: -50px;
  }
  .sec-mid .php-java .java {
    width: 380px !important;
    height: 380px !important;
  }

  .sec-mid-middle .svg-img {
    margin-top: -79px;
  }
  .sec-mid-middle .svg-img .illustrated {
    width: 400px !important;
  }
}
@media (max-width: 400px) {
  footer .footer-brand .links-box a {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
}
@media (max-width: 395px) {
  .section {
    flex-direction: column;
  }
  .section .side-1 .ancors {
    display: flex;
    flex-direction: column;
  }
  .section .side-1 h1 {
    font-size: 30px !important;
  }
  .section .side-2 {
    height: 200px;
    margin-top: -30px;
  }
  .section .side-2 .sparkles {
    margin-left: 40% !important;
  }
  .section .side-2 video {
    position: absolute;
    right: -100px;
    left: 20px;
    top: -140px !important;
    width: 340px !important;
    margin-bottom: -110px !important;
  }

  .patch {
    margin-top: -10px;
  }
  .patch .section-btom .patch-alert {
    display: none;
  }

  .sec-mid {
    margin-bottom: -100px;
  }
  .sec-mid .php-java {
    margin-top: 40px;
  }
  .sec-mid .php-java .java {
    width: 300px !important;
    height: 300px !important;
  }

  .last-section {
    flex-direction: column;
  }
  .last-section .last {
    width: 100%;
    padding: 10px;
  }

  .section-middle h1 {
    color: #21214c;
    font-size: 25px;
  }

  .last-sec-top .img-tag .padd {
    width: 300px !important;
    height: 300px;
  }

  .big-box .purple-box .box-top {
    top: -70px;
    left: 5px;
  }
  .big-box .purple-box .box-bottom {
    left: 5px;
    bottom: -70px;
  }

  .sec-mid-middle .svg-img .illustrated {
    width: 350px !important;
  }
}
@media (max-width: 327px) {
  .section .side-2 {
    margin-top: -30px;
  }
  .section .side-2 video {
    position: absolute;
    right: -100px;
    left: 15px;
    top: -150px;
    width: 270px !important;
  }

  .patch .section-btom .patch-alert {
    width: 160px;
    height: 160px;
    position: absolute;
    z-index: 33;
    left: 200px;
    top: -180px;
  }

  .sec-mid {
    margin-bottom: -130px;
  }
  .sec-mid .php-java {
    margin-top: 40px !important;
    margin-bottom: -90px !important;
  }
  .sec-mid .php-java .java {
    margin-left: -30px;
    width: 270px !important;
    height: 270px !important;
  }

  .section-img {
    margin-top: 50px;
    align-content: center;
  }
  .section-img h2 {
    font-size: 18px;
    color: #21214c;
    font-weight: 700;
    width: 100%;
    letter-spacing: 2px;
    text-align: center;
  }
  .section-img .logo-bar ul {
    display: block;
  }
  .section-img .logo-bar ul li img {
    width: 50px;
  }

  .sec-mid-middle .svg-img {
    margin-left: -30px !important;
  }
  .sec-mid-middle .svg-img .illustrated {
    width: 350px !important;
  }

  .purple-box .box-bottom {
    width: 230px !important;
  }
  .purple-box .box-top {
    width: 230px !important;
  }
}
@media (max-width: 290px) {
  .sec-mid {
    margin-bottom: -130px;
  }
  .sec-mid .php-java {
    margin-top: 40px !important;
    margin-bottom: -90px !important;
  }
  .sec-mid .php-java .java {
    margin-left: -30px;
    width: 250px !important;
    height: 250px !important;
  }

  .section-img {
    margin-top: 50px;
    align-content: center;
  }
  .section-img h2 {
    font-size: 18px;
    color: #21214c;
    font-weight: 700;
    width: 100%;
    letter-spacing: 2px;
    text-align: center;
  }
  .section-img .logo-bar ul {
    display: block;
  }
  .section-img .logo-bar ul li img {
    width: 50px;
  }

  .sec-mid-middle .svg-img {
    margin-left: -30px !important;
  }
  .sec-mid-middle .svg-img .illustrated {
    width: 320px !important;
  }

  .last-sec-top .img-tag .padd {
    width: 250px !important;
    height: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
